# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
TODO.md
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!preact_front/src/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pg_data/
seaweed_data/
migration_volume/
mongodb_data/
DOCS/
DOCS/git.md
tests/test_images/
frontend/node_modules
preact_front/node_modules

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml
requirements1.txt

# Database
*.db
*.sqlite
postgres-data/
pg_dump/

# Logs
*.log
logs/

# Environment variables
.env.local
.env.development
.env.test
.env.production

# Secrets
secrets.yml
secrets.yaml

# FastAPI
*.pyc
/upload_volume/
/tests/test_images/
