# docker-compose.yaml
services:
  wine_host: # this is the name of the service and name of the host (POSTGRES_HOST)
    restart: unless-stopped
    container_name: ${POSTGRES_HOST}
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "${POSTGRES_PORT}"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./pg_dump:/tmp
    networks:
      pgnetwork:
        aliases:
          - ${POSTGRES_HOST}
    healthcheck:
      test: |
        sh -c 'pg_isready -h localhost -p ${POSTGRES_PORT} -U ${POSTGRES_USER} -d ${POSTGRES_DB}'
      # минимальная конфигурация для того что бы не было проблем с role root doesnnot exists
      interval: 10s # 1m30s
      timeout: 10s
      retries: 5
      start_period: 40s
      start_interval: 5s
  
  adminer:
    container_name: pg_admin
    image: adminer:4.8.1
    restart: unless-stopped
    environment:
      - ADMINER_PLUGINS=tables-filter enum-option enum-types
      - ADMINER_DESIGN=nette
    depends_on:
      - wine_host
    ports:
      - "${ADMINER_PORTS}"
    networks:
      - pgnetwork

  app:
    container_name: app
    build: .
    restart: unless-stopped
    command: uvicorn app.main:app --host ${API_HOST} --port ${API_PORT}
    depends_on:
      - wine_host
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      WEB_PORT: ${API_PORT}
      WEB_HOST: ${API_HOST}
    volumes:
      - ./templates:/app/templates
      - ./migration_volume:/app/app/migration/versions
    networks:
      - pgnetwork
  
  directus:
    container_name: wine_directus
    image: directus/directus:11.11.0
    # image: directus/directus:11.3.1
    restart: unless-stopped
    environment:
      KEY: ${DIRECTUS_KEY:-directus-key-dev}
      SECRET: ${DIRECTUS_SECRET:-directus-secret-dev}
      
      # Подключение к БД (внутри Docker-сети)
      DB_CLIENT: pg
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_DATABASE: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_EXCLUDE_TABLES: ""
      
      # Админ пользователя
      ADMIN_EMAIL: ${DIRECTUS_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${DIRECTUS_ADMIN_PASSWORD}
      
      # URL (для ассетов и редиректов)
      PUBLIC_URL: http://localhost:8093
      PORT: ${DIRECTUS_PORT}
      
      # Отключить встроенный API, если не нужен
      # DISABLE_DEFAULT_ROUTE: "true"
    ports:
      - "8093:${DIRECTUS_PORT}"
    volumes:
      - ./directus/uploads:/directus/uploads  # файлы и изображения
    depends_on:
      - wine_host
    networks:
      - pgnetwork

networks:
  pgnetwork:
    driver: bridge

volumes:
  migration_volume: # alembic migrations
  pg_data: # postgresql data
  pg_dump: # postgres dump/restore
