# docker-compose.yaml
services:
  wine_host: # this is the name of the service and name of the host (POSTGRES_HOST)
    restart: unless-stopped
    container_name: ${POSTGRES_HOST}
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "${POSTGRES_PORT}"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./pg_dump:/tmp

    healthcheck:
      test: |
        sh -c 'pg_isready -h localhost -p ${POSTGRES_PORT} -U ${POSTGRES_USER} -d ${POSTGRES_DB}'
      # минимальная конфигурация для того что бы не было проблем с role root doesnnot exists
      interval: 10s # 1m30s
      timeout: 10s
      retries: 5
      start_period: 40s
      start_interval: 5s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.125'
          memory: 256M
  
  adminer:
    container_name: pg_admin
    image: adminer:4.8.1
    restart: unless-stopped
    environment:
      - ADMINER_PLUGINS=tables-filter enum-option enum-types
      - ADMINER_DESIGN=nette
    depends_on:
      - wine_host
    ports:
      - "${ADMINER_PORTS}"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.12'
          memory: 256M
  
  app:
    container_name: app
    build: .
    restart: unless-stopped
    command: uvicorn app.main:app --host ${API_HOST} --port ${API_PORT}
    depends_on:
      - wine_host
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      WEB_PORT: ${API_PORT}
      WEB_HOST: ${API_HOST}
      BASE_URL: ${BASE_URL}
    volumes:
      - ./templates:/app/templates
      - ./migration_volume:/app/app/migration/versions
      - ./upload_volume:/app/upload_volume
  #   networks:
  #     - pgnetwork
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  
  mongo:
    image: mongo:4.4.20
    container_name: ${MONGODB_CONTAINER_NAME}
    hostname: ${MONGO_HOSTNAME}
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: admin
    expose:
      - "${MONGO_INN_PORT}"
    # ports:
    #   - "${MONGO_OUT_PORT}:${MONGO_INN_PORT}"
    volumes:
      - ./mongodb_data:/data/db
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    command: >
      mongod
      --bind_ip_all
      --wiredTigerCacheSizeGB 0.5
      --storageEngine wiredTiger
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  
  mongo-express:
    image: mongo-express
    container_name: ${MONGO_EXPRESS_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${ME_CONFIG_MONGODB_ADMINUSERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${ME_CONFIG_MONGODB_ADMINPASSWORD}
      ME_CONFIG_MONGODB_SERVER: ${ME_CONFIG_MONGODB_SERVER}
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
    ports:
      - "${ME_OUT_PORT}:${ME_INN_PORT}"
    depends_on:
      - mongo
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512M
        reservations:
          cpus: '0.250'
          memory: 256M
  
  streamlit:
    container_name: streamlit_admin
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    restart: unless-stopped
    ports:
      - "${STREAMLIT_PORT}:8501"
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - MONGO_HOST=${MONGO_HOSTNAME}
      - MONGO_PORT=${MONGO_INN_PORT}
      - MONGO_USER=admin
      - MONGO_PASSWORD=admin
      - FASTAPI_URL=http://app:${API_PORT}
    volumes:
      - ./streamlit_data:/app/data
    depends_on:
      - app
      - wine_host
      - mongo
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

volumes:
  migration_volume: # alembic migrations
  pg_data: # postgresql data
  pg_dump: # postgres dump/restore
  mongodb_data:
  upload_volume:
  streamlit_data:
