# docker-compose.yaml
version: '3.8'
services:
  wine_host: # this is the name of the service and name of the host (POSTGRES_HOST)
    restart: unless-stopped
    container_name: ${POSTGRES_HOST}
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "${POSTGRES_PORT}"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./pg_dump:/tmp
    networks:
      pgnetwork:
        aliases:
          - ${POSTGRES_HOST}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-h", "localhost", "-p", "${POSTGRES_PORT}", "-U", "${POSTGRES_USER}" ]
      # add -h dd in order to avoid message FATAL: role 'root' doesnot exist
      interval: 10s # 1m30s
      timeout: 10s
      retries: 5
      start_period: 40s
  
  adminer:
    container_name: pg_admin
    image: adminer:4.8.1
    restart: unless-stopped
    environment:
      - ADMINER_PLUGINS=tables-filter enum-option enum-types
      - ADMINER_DESIGN=nette
    depends_on:
      wine_host:
        condition: service_healthy
    ports:
      - "${ADMINER_PORTS}"
    networks:
      - pgnetwork

  app:
    container_name: app
    build: .
    restart: no  # unless-stopped
    command: uvicorn app.main:app --host ${API_HOST} --port ${API_PORT}
    depends_on:
      mongodb:
        condition: service_healthy
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      WEB_PORT: ${API_PORT}
      WEB_HOST: ${API_HOST}
    volumes:
      - ./templates:/app/templates
      - ./migration_volume:/app/app/migration/versions
    networks:
      - pgnetwork

  mongodb:
    image: mongo:5.0
    # command: [--wiredTigerCacheSizeGB, "0.5", --maxConns, "100"]
    # image заменить на более новый на новом сервере - этот не поддерживает CPU with AVX support
    # command убрать или поменять настройки - эти для слабого сервера
    container_name: ${MONGO_HOST}
    depends_on:
      wine_host:
        condition: service_healthy
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB_NAME}
    ports:
      - "${MONGO_PORT}:${MONGO_PORT}"
    healthcheck:
      test: [ "CMD-SHELL", "mongosh --host localhost --port ${MONGO_PORT} --eval \"db.adminCommand('ping')\" --quiet || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    volumes:
      - mongodb_data:/data/db
      # - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - pgnetwork
  
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: ${MONGODB_URL}
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    networks:
      - pgnetwork
    depends_on:
      mongodb:
        condition: service_healthy

networks:
  pgnetwork:
    driver: bridge

volumes:
  migration_volume:  # alembic migrations
  pg_data:  # postgresql data
  pg_dump:  # postgres dump/restore
  mongodb_data:  # mongodb volume
