# docker-compose.yaml
services:
  wine_host: # this is the name of the service and name of the host (POSTGRES_HOST)
    restart: unless-stopped
    container_name: ${POSTGRES_HOST}
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "${POSTGRES_PORT}"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./pg_dump:/tmp

    healthcheck:
      test: |
        sh -c 'pg_isready -h localhost -p ${POSTGRES_PORT} -U ${POSTGRES_USER} -d ${POSTGRES_DB}'
      # минимальная конфигурация для того что бы не было проблем с role root doesnnot exists
      interval: 10s # 1m30s
      timeout: 10s
      retries: 5
      start_period: 40s
      start_interval: 5s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.125'
          memory: 256M
  
  adminer:
    container_name: pg_admin
    image: adminer:4.8.1
    restart: unless-stopped
    environment:
      - ADMINER_PLUGINS=tables-filter enum-option enum-types
      - ADMINER_DESIGN=nette
    depends_on:
      - wine_host
    ports:
      - "${ADMINER_PORTS}"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.12'
          memory: 256M
  
  app:
    container_name: app
    build: .
    restart: unless-stopped
    command: uvicorn app.main:app --host ${API_HOST} --port ${API_PORT}
    depends_on:
      wine_host:
        condition: service_healthy
      mongo:
        condition: service_healthy
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      WEB_PORT: ${API_PORT}
      WEB_HOST: ${API_HOST}
      BASE_URL: ${BASE_URL}
    volumes:
      - ./templates:/app/templates
      - ./migration_volume:/app/app/migration/versions
      - ./upload_volume:/app/upload_volume
  #   networks:
  #     - pgnetwork
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  
  mongo:
    image: mongo:4.4.20
    container_name: ${MONGODB_CONTAINER_NAME}
    hostname: ${MONGO_HOSTNAME}
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: admin
    expose:
      - "${MONGO_INN_PORT}"
    # ports:
    #   - "${MONGO_OUT_PORT}:${MONGO_INN_PORT}"
    volumes:
      - ./mongodb_data:/data/db
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    command: >
      mongod
      --bind_ip_all
      --wiredTigerCacheSizeGB 0.25
      --storageEngine wiredTiger
      --journalCommitInterval 500
      --syncdelay 300
      --nojournal
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:${MONGO_INN_PORT}/admin --quiet --username admin --password admin
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  
  redis:
    image: redis:7-alpine
    container_name: ${REDIS_HOST}
    restart: unless-stopped
    expose:
      - "${REDIS_PORT}"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
        reservations:
          cpus: '0.1'
          memory: 64M
  
  arq-worker:
    build: .
    container_name: arq-worker
    working_dir: /app
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      BASE_URL: ${BASE_URL}
      PYTHONPATH: /app         # ← путь к корню пакета
    command: arq app.arq_worker.WorkerSettings
    depends_on:
      wine_host:
        condition: service_healthy
      redis:
        condition: service_healthy
      mongo:
        condition: service_healthy
    restart: no
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  arq-worker-rawdata:
    build: .
    container_name: arq-worker-rawdata
    working_dir: /app
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      BASE_URL: ${BASE_URL}
      PYTHONPATH: /app         # ← путь к корню пакета
    command: arq app.rawdata_arq_worker.RawdataWorkerSettings --burst
    depends_on:
      wine_host:
        condition: service_healthy
      redis:
        condition: service_healthy
      mongo:
        condition: service_healthy
    restart: no
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
  
  mongo-express:
    image: mongo-express
    container_name: ${MONGO_EXPRESS_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${ME_CONFIG_MONGODB_ADMINUSERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${ME_CONFIG_MONGODB_ADMINPASSWORD}
      ME_CONFIG_MONGODB_SERVER: ${ME_CONFIG_MONGODB_SERVER}
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
    ports:
      - "${ME_OUT_PORT}:${ME_INN_PORT}"
    depends_on:
      wine_host:
        condition: service_healthy
      mongo:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${ME_INN_PORT}" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512M
        reservations:
          cpus: '0.250'
          memory: 256M
  
  preact_front:
    build:
      context: ./preact_front          # путь к папке с Preact
      dockerfile: Dockerfile.dev       # имя Dockerfile внутри ./preact_front
    ports:
      - "${PREACT_PORT}:5173"                    # хост:контейнер (порт Vite по умолчанию — 5173)
    volumes:
      # - ./preact_front:/app            # монтируем исходники
      # - /app/node_modules              # сохраняем node_modules из контейнера
      - ./preact_front/src:/app/src
      - ./preact_front/public:/app/public
      - ./preact_front/package.json:/app/package.json
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true  # для работы hot-reload в Docker ?
    stdin_open: true
    tty: true
    restart: unless-stopped
    depends_on:
      wine_host:
        condition: service_healthy
      mongo:
        condition: service_healthy
  
volumes:
  migration_volume: # alembic migrations
  pg_data: # postgresql data
  pg_dump: # postgres dump/restore
  mongodb_data:
  upload_volume:
