fastapi[all]
sqladmin==0.21.0
pydantic-settings==2.10.1
alembic==1.16.4
asyncpg==0.29.0
python-jose==3.5.0
passlib==1.7.4
pytest
pytest-asyncio
pytest-cov
python-multipart
# minio
pillow
psycopg2-binary

#  fastapi==0.95.0
# uvicorn
# sqlalchemy==2.0.5
# aiobotocore
# ==2.4.2
# aiohttp