fastapi[all]
sqladmin==0.21.0
pydantic-settings==2.10.1
email-validator
alembic==1.16.4
asyncpg==0.29.0
python-jose==3.5.0
passlib==1.7.4
pytest
pytest-asyncio
pytest-cov
pillow
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt==4.0.1
sqlalchemy-utils
motor==3.3.2
pymongo==4.6.0
python-dateutil
# for testing purpose only
Faker
itsdangerous>=2.1.0
pydantic_factories
python-magic
#для работы python-magic нужно: brew install libmagic